<table>
  <% var i; for (i=0; i < listado.length; i++) { %>        
     <tr>
<td>
<%= listado[i]. etiquetaVideorock %>
</td>
<td>
<a href="<%= listado[i]. direccionVideorock %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>

</td>
<td>
 
<%= listado[i]. etiquetaVideo1rock %>

</td>
<td>
<%= listado[i]. FECHArock %>

</td>
</tr>
  <% } %>
</table>
