<table>
  <%  { %>        
     <tr>
<td>
<%= listado[1]. etiquetaVideorock %>
</td>
<td>
<a href="<%= listado[1]. direccionVideorock %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>

</td>
<td>
 
<%= listado[1]. etiquetaVideo1rock %>

</td>
<td>
<%= listado[1]. FECHArock %>

</td>
</tr>
  <% } %>
</table>
